<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Type1:</strong>
    <%= pokemon.type1 %>
  </p>

  <p>
    <strong>Type2:</strong>
    <%= pokemon.type2 %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pokemon.total %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= pokemon.hp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= pokemon.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= pokemon.defense %>
  </p>

  <p>
    <strong>Special attack:</strong>
    <%= pokemon.special_attack %>
  </p>

  <p>
    <strong>Special defense:</strong>
    <%= pokemon.special_defense %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= pokemon.speed %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= pokemon.generation %>
  </p>

  <p>
    <strong>Legendary:</strong>
    <%= pokemon.legendary %>
  </p>

</div>
